<!DOCTYPE html>
<html>
  <head>
    <title>SPROJ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
        @media(max-width:768px){
            #collapsemenu{
                overflow-x:hidden !important;
            }
            body { padding-top: 54px; }
        }
        }
    </style>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

<!--<section id="cover">-->
    
        
        
       <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
      <button type="button"
      class = "navbar-toggle collapsed"
      data-toggle = "collapse"
      data-target = "#collapsemenu"
      aria-expanded = "false">
       <span class = "sr-only">Toggle navigation</span>
       <span class = "icon-bar"></span> 
       <span class = "icon-bar"></span>
       <span class = "icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img alt='Alexa logo' class="immg" src='alexa-logo.png'>
      </a>
    </div>
    <div class = "collapse navbar-collapse" id ="collapsemenu">
      <ul class="nav navbar-nav navbar-right bar">
      
      <li class="dropdown rab">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
                <a href="#">Keyword Difficulty Tool</a>
                
            </li>
            <li><a href="#">Competitive Keyword Matrix</a></li>
            <li><a href="#">One Page SEO Checker</a></li>
            <li><a href="#">SEO Audit Tool</a></li>
          </ul>
        </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">eBooks</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </li>
      <li><a href="/disciplines">Disciplines</a></li>
      <% if user_signed_in? %>
      
      <li><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
      <li><a href="/users/sign_in">Log In</a></li>\
      <li><a href="/users/sign_up"><button class="btn sign">SIGN UP</button></a></li>
      <% end %>
      
      
    </ul>

    </div>
        
  </div>

</nav>

   <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Company<span>logo</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Company Name &copy; 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Revolution Street</span> Paris, France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
  </body>
</html>
